################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BitcoinPriceAggregator/bin
/BitcoinPriceAggregator/obj
/.vs
