################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BitcoinPriceAggregator/bin
/BitcoinPriceAggregator/obj
/.vs
/BitcoinPriceAggregator/BitcoinPriceAggregator.Api.csproj.user
/BitcoinPriceAggregator.BL/obj
/BitcoinPriceAggregator.BL/bin
/BitcoinPriceAggregator.Web/obj
/BitcoinPriceAggregator.Web/bin
/BitcoinPriceAggregator.Web.Scrapers/obj
/BitcoinPriceAggregator.Web.Scrapers/bin
