################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/BitcoinPriceAggregator/bin
/BitcoinPriceAggregator/obj
/.vs
/BitcoinPriceAggregator/BitcoinPriceAggregator.Api.csproj.user
/BitcoinPriceAggregator.Data/obj
/BitcoinPriceAggregator.Data.Aggregators/obj
/BitcoinPriceAggregator.Data.Aggregators/bin
/BitcoinPriceAggregator.Data/bin
/BitcoinPriceAggregator.Data.Scrapers/obj
/BitcoinPriceAggregator.Data.Scrapers/bin
